

.express-input {
  text-align: start;
  width: 100%;
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-right: 12px;
  padding-left: 12px;
  color: var(--color-text-1);
  font-size: 14px;
  background-color: var(--color-fill-2);
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  cursor: text;
  transition: color 0.1s cubic-bezier(0, 0, 1, 1), border-color 0.1s cubic-bezier(0, 0, 1, 1), background-color 0.1s cubic-bezier(0, 0, 1, 1);
  line-height: 1.5715;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover  {
    .jsonpath-desc{
      display: block;
    }
  }

  :deep(.arco-textarea) {
    height: 20px;
  }

  :deep(.editor-content) {
    display: inline-flex;
    width: 100%;

  }

  :deep(.expression) {
    > div {
      > p {
        color: rgba(var(--primary-6));
      }
    }
  }

  :deep(.jsonpath) {
    > div {
      > p {
        color: rgb(var(--orange-6));
      }
    }
  }

  &:hover {
    background-color: var(--color-fill-3);
    border-color: transparent;
  }


  :deep(.tiptap) {
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;

    p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }

    > p {
      padding: 0;
      margin: 4px 0;
    }

    .mention {
      border-radius: 3px;
      padding: 0 8px 0 0;
      display: inline-flex;
      align-items: center;
      margin-right: 4px;
      color: rgb(var(--primary-6));
      font-size: 12px;
      white-space: pre-wrap;
      word-break: break-word;
      background-color: var(--color-bg-2);
      border: 0.5px solid var(--color-border-3);
    }

    .mention-type-icon{
      color: var(--color-text-2);
      margin: 0 2px;
      font-size: 13px;
    }

    .node-mention-type {
      border-radius: 3px 0 0 3px;
      padding: 0 2px;
      margin-right: 6px;
      white-space: nowrap;
      color: rgb(var(--orangered-6));
      background-color: rgba(var(--orangered-6), 0.2);
      border: 1px solid transparent;
    }

    .node-mention-label {
      white-space: nowrap;
    }

  }

  :deep(.ProseMirror-focused) {
    .mention {
      background-color: var(--color-fill-2);
      border-color: var(--color-fill-2);
    }
  }

  :global(.dropdown-menu) {
    max-height: 200px;
  }

  :deep(.input-type) {
    width: 100%;

    .tiptap {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis
    }
  }

  :deep(.textarea-type){
    min-height: 100px;
  }
}

.express-input-focus {
  background-color: var(--color-bg-2);
  border-color: rgb(var(--primary-6));

  &:hover {
    background-color: var(--color-bg-2);
    border-color: rgb(var(--primary-6));
  }
}

.jsonpath-desc {
  width: 200px;
  display: none;
  position: absolute;
  z-index: 1;
  left: 5px;
  top: 35px;
  background: var(--color-bg-3);
  box-shadow: 0 4px 10px #0000001a;
  border-radius: var(--border-radius-medium);
  padding: 0 10px;

  :deep(.arco-descriptions-item-value-block) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
  }
}

.jsonpath {
  :deep(input) {
    color: coral;
  }

}




.expression {
  :deep(input) {
    color: rgba(var(--primary-6), .8) !important;
  }
}

