.condition-groups {
    display: flex;

    .condition-clause-switch {
        position: relative;
        display: flex;
        margin-right: 10px;

        .condition-clause-line {
            height: 100%;
            position: absolute;
            border: 1px solid var(--color-border);
            left: 50%;
        }
    }

    .condition-condition-op {
        :deep(.condition-item-add) {
            position: absolute;
            right: -10px;
        }
    }

    :deep(.condition-group-add) {
        left: -3px;
    }


    :deep(.arco-switch) {
        align-self: center;
        z-index: 1;
    }
}

.condition-filter {
    padding: 4px 0;
}

.condition-filter-item {
    display: flex;

    :deep(.arco-icon) {
        font-size: 14px;
        flex-shrink: 0;
        margin-left: 5px;
        align-self: center;
        min-width: 0;
        color: var(--color-text-2);
    }

    :deep(.add-btn) {
        &:hover {
            color: rgba(var(--primary-6));
            cursor: pointer;
        }
    }

    :deep(.delete-btn) {
        &:hover {
            color: rgba(var(--danger-6));
            cursor: pointer;
        }
    }
}