.workflow-container {
    height: calc(100% - 40px);
    padding: 20px;
}

.workflow-list-top-box {
    display: flex;
    width: 50%;
    align-items: center;
    padding: 5px;
    background-color: var(--color-bg-2);

    >span {
        margin-right: 10px;
    }
}

.workflow-card-plugin-col-item {
    margin-right: 5px
}

.workflow-card-item-tags {
    display: flex;
    align-items: center;

    .workflow-card-item-tags-value {
        margin-left: 5px;
        width: calc(100% - 15px);
    }
}

.workflow-card-operator-box {
    padding: 0 5px 3px 5px;

    .workflow-card-operator-item {
        padding: 5px 10px;
        margin-top: 5px;
        border-radius: 5px;
        color: var(--color-text-1);

        &:hover {
            cursor: pointer;
            background-color: var(--color-fill-2)
        }
    }

    .card-delete-btn {
        color: rgb(var(--red-6));

        &:hover {
            background-color: rgba(var(--red-6), .1);
        }
    }
}


.workflow-list {
    display: grid;
    grid-gap: 20px;
    padding: 20px 0;
    grid-template-columns: repeat(auto-fill, 260px); // 自动填充一行的卡片个数

    :deep(.arco-card) {
        border-radius: 5px;
        border: none;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

        &:hover {
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        }
    }

    .workflow-add-card {
        background-color: var(--color-neutral-3);
        height: 190px;
    }

    .workflow-card-operator {
        position: absolute;
        right: 15px;

        &:hover {
            cursor: pointer;
        }
    }

    .workflow-card-item {
        overflow: hidden;
        height: 190px;
    }

    .workflow-add-btn {
        align-items: center;
        display: flex;
        padding: 5px;
        max-width: 10px 0;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: var(--color-fill-2);
            color: rgb(var(--arcoblue-6));
        }

        :deep(.arco-icon) {
            margin-right: 10px;
            font-size: 20px
        }
    }

    .upload-workflow-modal {
        :global(.arco-modal-body) {
            padding: 5px !important;
        }

    }
}

.upload-repeat-alert {
    border-top: 1px solid var(--color-neutral-3);
    text-align: center;
    margin-top: 5px;
    padding: 10px 5px 5px 5px;
}